<a href="https://colab.research.google.com/github/DashShantanu/heart-disease-prediction/blob/main/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the dependencies**

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**Data Collection and Pre-Processing**

In [2]:
# loading the csv data to a pandas DataFrame
heart_data = pd.read_csv('/content/drive/MyDrive/My datasets/heart_cleveland_upload.csv')

In [5]:
# printing first 5 rows of dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [6]:
# checking number of rows and columns in the dataset
heart_data.shape

(297, 14)

In [8]:
# checking for missing values in the data
heart_data.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [10]:
# checking the distribution of Condition variable
heart_data['condition'].value_counts()

0    160
1    137
Name: condition, dtype: int64

1 --> Defective heart

0 --> Healthy heart

**Separating the features and target**

In [11]:
X = heart_data.drop(columns='condition', axis=1)
Y = heart_data['condition']

In [12]:
print(X)
print(Y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     69    1   0       160   234    1        2      131      0      0.1
1     69    0   0       140   239    0        0      151      0      1.8
2     66    0   0       150   226    0        0      114      0      2.6
3     65    1   0       138   282    1        2      174      0      1.4
4     64    1   0       110   211    0        2      144      1      1.8
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
292   40    1   3       152   223    0        0      181      0      0.0
293   39    1   3       118   219    0        0      140      0      1.2
294   35    1   3       120   198    0        0      130      1      1.6
295   35    0   3       138   183    0        0      182      0      1.4
296   35    1   3       126   282    0        2      156      1      0.0

     slope  ca  thal
0        1   1     0
1        0   2     0
2        2   0     0
3        1   1     0
4        1   0     0
..     ...  ..   ...
292      0   0     2
293      1   0     2
294      1   0     2
295      0   0     0
296      0   0     2

[297 rows x 13 columns]
0      0
1      0
2      0
3      1
4      0
      ..
292    1
293    1
294    1
295    0
296    1
Name: condition, Length: 297, dtype: int64

**Splitting the data into Training and Testing data**

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(297, 13) (237, 13) (60, 13)

**Model Training**